@font-face {
    font-family: Josefine;
    src: url(fuentes/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: Ailerons;
    src: url(fuentes/Ailerons-Regular.otf);
}

.ailerons{
    font-family: Ailerons;
}

.josefine{
    font-family: Josefine;
}

body{
    overflow-x: hidden;
}



/*Header*/

.cabecera{
    background-color: #444444;
}

.logo_header{
    width: 210px;
    height: 60px;
    margin-bottom: 3vh;
}

.boton_nav{
    font-family: Ailerons;
    background-color: #444444;
    border-radius: 17px;
    font-size: 20px;
}

.botonRedondo{
    border-radius:3cm;
}

.botonRedondo:hover{
    background-color: #950101;
    color: white;
}


.activo{
    background-color: #950101;
}

.boton_nav:hover{
    background-color: #950101;
}



/*Body*/

.barraEstado{
    max-width: 60%;

}

.borde{
    border: 3px black solid;
}

.redondeado{
    border-radius: 10x;
}

.iconoProcesoCompra{
    width: 1.5cm;
}

.imagenItemCarrito{
    width: 80%;
}

.input_spinner{
    border-radius: 10px;
}

.camion{
    transform: scaleX(-1);
    width: 90%;
}

.separador{
    background-color: black;
    height: 5px;
    width: 95%;
    margin: auto;
}

.inputCupon{
    border: none;
    border-bottom: black solid 2px;
    width: 80%;
}

.elementos{
    width: 48%;
    margin-left: 25%;
}

.redondo{
   height:70px;
   width:70px;
   border-radius: 100%;
   border: solid 2px black;
   margin: auto;
}

.tarjeta{
    text-align: center;
    font-size: 12px;
}


.imagenCarrusel{
    border-radius: 100%;
    width: 9vh;
    height: 9vh;
    margin: auto;
}

.sinBorde{
    border: 0px;
}

.btnPersonalizacion{
    background-color: #950101;
    border-radius: 0.4cm;
    width: 50%;
    margin: auto;
    font-size: 20px;
}

.btnPersonalizacion:hover{
    background-color: black;
}

.botonInvisible{
    background-color:white;
    border: none;
}

/*Footer*/

footer{
    background-color: #444444;
}


.logo{
    width: 230px;
    height: 80px;
    margin-bottom: 2vh;
}

.imagen_footer{
    width: 9%;    
    margin-bottom: 1vh;

}

.boton_footer{
 border-radius: 5cm;
 background-color: #2E2E2E;
 color: white;
 border: 0px;
}

/* div{
    border: black solid 1px;
}   */